body {

    background-color: cadetblue;
    

}

.carousel-caption {

    margin-bottom: 40px;
    
    
    
}

.carousel-indicators li {

    margin-bottom: 40px;
    
    
}

.aboutMefont {

    font-family: 'Dosis', sans-serif;
    font-size: larger;
}


.carousel-caption h1 {

    
    color:white;
    background:linear-gradient( rgb(147, 159, 173), rgb(32, 32, 66));
    border-radius: 5px;
    width: 50%;
    margin: auto;
    opacity: .9;



}






#aboutMeImage {

    padding-left: 20px;



}

#carouselImg {

    height: 725px;
    border: 3px solid white;
    


}


      
    





  


