body {

    background-color: cadetblue

}

.carousel-caption {

    margin-bottom: 40px;
    
}

.carousel-indicators li {

    margin-bottom: 40px;
    
}

.aboutMefont {

    font-family: 'Dosis', sans-serif;
    font-size: larger;
}

@media (max-width: 1025px) {


    .cardsHome {

        align-items: center;
    }


@media (max-width: 376px) {


    
      
}
      
    

}



  


