body {

    background-color: cadetblue;
    

}

.carousel-caption {

    margin-bottom: 40px;
    
    
    
}

.carousel-indicators li {

    margin-bottom: 40px;
    
    
}

.aboutMefont {

    font-family: 'Dosis', sans-serif;
    font-size: larger;
}


.carousel-caption h1 {

    
    color:white;
    background:linear-gradient( rgb(120, 173, 189), rgb(81, 81, 199));
    border-radius: 90px;
    width: 50%;
    margin: auto;
    opacity: .9;



}




#aboutMeImage {

    padding-left: 20px;



}


      
    





  


